{
  ;; Core config
  ;; -----------
  :PORT "set by heroku"
  :eatme-url "http://eatme.oliy.co.uk"

  :MONGOLAB_URI "set by heroku"

  ;; Sessions and Cookies
  ;; --------------------
  :session_key "set env variable"
  :session-max-age-seconds 1209600
}
