# Project related
resources/public/js/cljs
resources/public/js/eatme.js

# Java related
pom.xml
*jar
*.class

# Leiningen
/classes
/lib
/native
/checkouts
/target
.lein-deps-sum
.lein-failures
.lein-cljsbuild-repl
/.lein-plugins
.lein-repl-history
repl-port
/out
/repl/out
/.env

# Temp Files
*.orig
*~
.*.swp
.*.swo
*.tmp
*.bak

# Logging
*.log
