#suggestion-types {
    margin: 0px;
    margin-top: -14px;
}

#suggestion-types button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.controls-row input {
    min-width: 30px;
    line-height: 20px;
}

.controls-row button {
    line-height: 20px;
}

#add-item-form {
    margin-top: 10px;
}

.controls-row .input-append {
    margin-bottom: 10px;
}

#item-name {
    width: 100%;
    border-bottom-left-radius: 0;
}

.items-container .controls-row:first-child input {
    border-top-left-radius: 4px;
}

.items-container .controls-row:first-child .input-append .btn:last-child {
    border-top-right-radius: 4px;
}

.items-container .controls-row .input-append .btn:last-child,
.items-container .controls-row input {
    border-radius: 0;
}

.items-container .controls-row:last-child input {
    border-bottom-left-radius: 4px;
}

.items-container .controls-row:last-child .input-append .btn:last-child {
    border-bottom-right-radius: 4px;
}

#suggestion-control {
    display: block;
}

.section {
    clear: both;
}

.boxed {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 4px;
}

.basket {
    width: 200px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    background-image: url('/img/basket.png');
    background-repeat: no-repeat;
    background-position: center;
}

.basket:hover {
    background-color: #cccccc;
    transition: background 0.2s ease 0s;
}

.basket:hover > a {
    text-decoration: none;
}

#user-baskets {
    clear: both;
}

.navbar-inner .pull-left {
    margin-left: 4px;
}

.navbar .navbar-inner .brand {
    margin-left: 0px;
}

@media (max-width: 767px) {
    .modal {
	position: fixed;
	top: 20px;
	right: 20px;
	left: 20px;
	width: auto;
	margin: 0;

    }
    .modal.fade {
	top: -100px;
    }
    .modal.fade.in {
	top: 20px;
    }
}

@media (max-width: 480px) {
    .modal {
	top: 10px;
	right: 10px;
	left: 10px;
    }
    .modal-header .close {
	padding: 10px;
	margin: -10px;
    }

    #last-saved {
	display: none;
    }

    button[rel=delete-item] {
	display: none;
    }
}