.row-fluid.controls-row .btn {
    vertical-align: top;
}

.controls-row input {
    min-width: 30px;
}

#item-name {
    width: 100%;
}

[class*="span"] {
    /*border: 1px solid black;*/
}

.navbar-inner .pull-left {
    margin-left: 4px;
}

.navbar .navbar-inner .brand {
    margin-left: 0px;
}